<div class="text-center">
  <h1>Restaurants</h1>
</div>

<div class="text-center">
  <% @restaurants.each do |restaurant| %>
    <div>
      <h3><%= restaurant.name %></h3>
      <p>Category: <%= restaurant.category %></p>
      <p> <%= link_to "See more", restaurant_path(restaurant) %></p>
    </div>
  <% end %>
</div>
