<div class="text-center">
  <h1>Restaurants</h1>
</div>

<div class="list">
<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant_path(restaurant), class: "unstyled-link" do %>
    <div class="product">
      <div class='product-body text-center'>
        <h3><%= restaurant.name %></h3>
        <p>Category: <%= restaurant.category %></p>
      </div>
    </div>
  <% end %>
<% end %>
</div>

